
	<div class="row">
		<div class="col-lg-4">
			<h3 class="midrow">
			View recipes as Guest User
			</h3>
			<h2 class="left"> Browser all recipes as a guest and sign up later</h2>
			<p><%= link_to "Browser recipe listing", "",class: "btn btn-warning btn-small"%></p></div>
			<div class="col-lg-4">
			<h3 class="midrow">
			View recipes as Guest User
			</h3>
			<h2 class="left"> Browser all recipes as a guest and sign up later</h2>
			<p><%= link_to "Browser recipe listing", "",class: "btn btn-warning btn-small"%></p></div>
			<div class="col-lg-4">
			<h3 class="midrow">
			View recipes as Guest User
			</h3>
			<h2 class="left"> Browser all recipes as a guest and sign up later</h2>
			<p><%= link_to "Browser recipe listing", "",class: "btn btn-warning btn-small"%></p></div>
</div>


	<div class="container">
	<h3 class ="midrow">

<address>The Sous-Chef de Cuisine (under-chef of the kitchen) is the second-in-command and direct assistant of the Chef de Cuisine. This person may be responsible for scheduling the kitchen staff, or substituting when the head chef is off-duty. Also, he or she will fill in for or assist the Chef de Partie (line cook) when needed. This person is accountable for the kitchen's inventory, cleanliness, organization, and the ongoing training of its entire staff. A sous-chef's duties can also include carrying out the head chef's directives, conducting line checks, and overseeing the timely rotation of all food product. Smaller operations may not have a sous-chef, while larger operations may have more than one. He/She is also responsible in absentia of the Executive Chef.
</address></br><h3><address>This person is in charge of all activities related to the kitchen, which usually includes menu creation, management of kitchen staff, ordering and purchasing of inventory, and plating design. Chef de cuisine is the traditional French term from which the English word chef is derived. Head chef is often used to designate someone with the same duties as an executive chef, but there is usually someone in charge of a head chef, possibly making the larger executive decisions such as direction of menu, final authority in staff management decisions, etc. This is often the case for executive chefs with multiple restaurants.</address></h3></h3>
</div>